  <nav class="navbar navbar-static-top navbar-expand-lg justify-content-between">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
        <ul class="navbar-nav">
          {% for category in category_list %}
          <li class="nav-item">
            <h3><a class="nav-link" href={{category.get_absolute_url}}>
                {{ category.name }} </a></h3>
          {% endfor %}
        </ul>
      </div>
      <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25" href="{% url 'index' %}"><h1 class="container">Vrčící koťátko</h1></a>
      <div class="navbar-collapse collapse dual-nav w-50 order-2">
        <ul class="navbar-nav ml-auto">
          <form class="form-inline" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit">Search</button>
          </form>
          {% for media in media_list %}
            {% if media.type == 'TW' %}
              <li class="nav-item">
                <a class="nav-link" href={{media.url}}>
                    <h3><i class="fa fa-twitter"></i></h3>
                </a>
              </li>
            {% elif media.type == 'GH' %}
                <li class="nav-item">
                    <a class="nav-link" href={{media.url}}>
                        <h3><i class="fa fa-github">
                        </i></h3>
                    </a>
                </li>
            {% elif media.type == 'FB' %}
                <li class="nav-item">
                    <a class="nav-link" href={{media.url}}>
                        <h3><i class="fa fa-facebook">
                        </i></h3>
                    </a>
                </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>