{% load static %}
<html lang="cs">

<head>
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.addEventListener('load', function(){
  window.cookieconsent.initialise({
   revokeBtn: "<div class='cc-revoke' style='background-color: #3F3250 !important;'></div>",
   type: "opt-in",
   theme: "classic",
   palette: {
       popup: {
           background: "#3F3250",
           text: "#C0B3A0"
        },
       button: {
           background: "#E14658",
           text: "#C0B3A0"
        }
    },
   content: {
       message: "This website is owned by a curious cat that wants to know who is visiting website. Feel free to decline! :-)"
    },
    onInitialise: function(status) {
      if(status == cookieconsent.status.allow) myScripts();
    },
    onStatusChange: function(status) {
      if (this.hasConsented()) myScripts();
    }
  })
});

function myScripts() {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-125630433-1', 'auto');
      ga('send', 'pageview');
}
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/compiled_css.css' %}"/>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">

  <title>Vrčící koťátko</title>
</head>

<body>
  {% include 'blog/header.html' %}

  <div class="container-fluid">
    <div class="row main-row">
      <div class="col-1 d-none d-md-block">
        <!-- left span -->
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <!-- start of post cards -->
          {% block content %}
          {% endblock %}

        <!-- end of post cards -->
      </div>
      <!-- Right column -->
      <div class="col-3 d-none d-md-block">
        <div class="mt-3 ml-5">
          <div class="row">
            <div class="card" style="width:30rem; min-height: 15rem">
              <div class="card-body quote-card-body">
                <div class="card-text quote-card-text">
                  Happiness can be found in the darkest of times, if one only remembers to turn on the light.
                </div>
              </div>
              <div class="card-footer text-right quote-card-footer">
                <h3>Albus Dumbledore</h3>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="card" style="width:30rem; min-height: 15rem">
              <div class="card-header text-center blog-post-header">
                <h3>Další vrčení ke čtení</h3>
              </div>
              <ul class="list-group">
                <!-- Another posts -->
                  {% include 'blog/side_list.html' %}
                <!-- End of another posts -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-1 d-none d-md-block">
          <!-- right span -->
        </div>
      </div>
      <!-- End of right column -->
      <div class="container-fluid edge-to-edge">
        <footer class="footer-row text-center font-weight-bold pt-2">
          Made by Kharianne
        </footer>
      </div>
    </div>
  </div>

</body>

</html>
