{% extends 'blog/index.html' %}

{% block content %}
     <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal"
          aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
          </div>
        </div>
    </div>
  <h1 class="post-title mt-4">{{ post.title }}</h1>
    <div class="post-text mt-4">

        {{ post.formatted_markdown|safe }}

    </div>
    <div class="published mt-3">
        {{ post.published_date }}
    </div>
{% endblock %}
