{% extends 'blog/index.html' %}

{% block content %}
    {% for post in post_list %}
        <div class="card text-white bg-dark mt-3">
            <div class="card-header blog-post-header">
                <h3>
                    <a class="post-link" href={{post.get_absolute_url}}>
                        {{ post.title }}
                    </a></h3></div>
            <div class="card-body blog-post-body">
                <p class="card-text blog-post-text">
                    {{ post.formatted_markdown|safe|truncatewords_html:100 }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}