/* purple */
/* pergament */
/* navy */
/* coral */
html {
  min-height: 100%;
  position: relative;
}
html body {
  margin-bottom: 90px;
  background-color: #C0B3A0;
  color: #22252C;
}
html .footer-row {
  background-color: #22252C;
  border-top: 10px solid;
  border-color: #E14658;
  height: 70px;
  bottom: 0;
  position: absolute;
  color: #C0B3A0;
  width: 100%;
}

h1 {
  font-weight: bold;
}

form {
    margin-bottom: 0;
}

img:hover {
    opacity: 0.7;
}


.modal-lg {
    max-width: 1800px !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
    margin-left: 0.5;
  }

  .navbar a.w-25 {
    width: initial !important;
  }
}
h3 {
  font-weight: bold;
}

.navbar-brand, .navbar a, .navbar {
  background-color: #22252C;
  color: #C0B3A0;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.list-group, .list-group-item, .list-group a, .navbar a:hover, .navbar a, .post-link:hover, .post-link {
  text-decoration: none;
  color: #C0B3A0;
}

.navbar {
  border-bottom: 10px solid #E14658;
}

.post-link:hover {
  color: #E14658;
}

.navbar a:hover {
  color: #E14658;
}

.navbar-brand {
  color: #E14658 !important;
}

.navbar-toggler {
  border: 2px solid #E14658;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 70, 88, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-success,
.btn-outline-success:focus {
  color: #E14658;
  border-color: #E14658;
  font-weight: bold;
  box-shadow: none !important;
}

.btn-outline-success:hover, .btn-outline-success:not(:disabled):not(.disabled):active {
  color: #C0B3A0;
  background-color: #E14658;
  border-color: #E14658;
  font-weight: bold;
}

.form-control:focus {
  border-color: #E14658;
  box-shadow: 0 0 0 0.2rem rgba(225, 70, 88, 0.25);
}

.main-row {
  margin-bottom: 70px;
}

.divider-left {
  border-left: 5px solid #E14658;
}

.divider-right {
  border-right: 5px solid #E14658;
}

.card {
  border: 1px transparent;
  background-color: transparent;
}

.blog-post-header {
  background-color: #3F3250;
  color: #C0B3A0;
  font-family: "Oswald", sans-serif;
}

.blog-post-body, .blog-post-text {
  background-color: #22252C;
  color: #C0B3A0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.quote-card-body, .quote-card-text {
  background-color: #22252C;
  font-family: "Open Sans", sans-serif;
  color: #C0B3A0;
  font-size: 1.5rem;
  font-style: oblique;
}

.quote-card-footer {
  background-color: #3F3250;
  color: #C0B3A0;
  font-family: "Oswald", sans-serif;
  font-style: oblique;
}

.edge-to-edge {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.list-group, .list-group-item, .list-group a {
  background-color: #22252C;
  color: #C0B3A0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.list-group a:hover {
  color: #E14658;
}

.post-title {
  font-family: "Oswald", sans-serif;
  color: #E14658;
}

.post-text, .published {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.cc-deny {
  background-color: #E14658 !important;
}

.cc-allow {
  background-color: transparent !important;
}
